<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Veranus Logo" src="assets/gecko.jpg">
</div>
<div style="display: flex; justify-content: center;">
<app-data-view 
    [label]="'Light'"
    [unit]='"%"' 
    [value]="dataManager.light"
    [monitor]="lightMonitor"></app-data-view>
<app-data-view 
    [label]="'Temperature'" 
    [unit]='" F"' 
    [value]="dataManager.temp"
    [monitor]="tempMonitor"></app-data-view>
<app-data-view 
    [label]="'Humidity'" 
    [unit]='"%"' 
    [value]="dataManager.humid"
    [monitor]="humidMonitor"></app-data-view>
</div>
<div style="display: flex; justify-content: center;">
  <app-time-stamp [timeMs]='dataManager.timeMs'></app-time-stamp>
</div>
<app-graph
  [title]="'Temperature'"
  [data]="dataManager.tempData"
  [color]="'#940303'"
  [update]="dataManager.update"
></app-graph>
<app-graph
  [title]="'Humidity'"
  [data]="dataManager.humidData"
  [color]="'#032094'"
  [update]="dataManager.update"
></app-graph>
<app-graph
  [title]="'Light'"
  [data]="dataManager.lightData"
  [color]="'#740394'"
  [update]="dataManager.update"
></app-graph>


